<!DOCTYPE HTML>
<!--
	soft-test by Prashant Naithani
-->
<html>
	<head>
		<title>software deployment to windows</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/stylesheets/index_style.css') }}">
	</head>
	<body class="is-preload homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="index.html">Softwate-Deployment</a></h1>
								<span>by Prashant Naithani</span>
							</div>
					</header>
				</div>

			<!-- Banner -->
				<div id="banner-wrapper">
					<div id="banner" class="box container">
						<div class="row">
							<div class="col-7 col-12-medium">
								<h2>Hi. Lets Deploy.</h2>
								<p>Deployment by OS</p>
							</div>
							<div class="col-5 col-12-medium">
								<ul>
									<li><a href="http://127.0.0.1:5000/windows" class="button large icon solid fa-arrow-circle-right">windows</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

	</body>
</html>